function Suare.new 0
push argument 0
pop field 0
push argument 1
pop field 1
push argument 2
pop field 2
call draw 0
pop temp 0
return
function Suare.dispose 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Suare.draw 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Suare.erase 0
push constant 0
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Suare.incSize 0
push field 1
push field 2
add
push constant 254
lt
push field 0
push field 2
add
push constant 510
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call erase 0
pop temp 0
push field 2
push constant 2
add
pop field 2
call draw 0
pop temp 0
push constant 0
return
function Suare.decSize 0
push field 2
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call erase 0
pop temp 0
push field 2
push constant 2
sub
pop field 2
call draw 0
pop temp 0
push constant 0
return
function Suare.moveUp 0
push field 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 2
add
push constant 1
sub
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push field 1
push constant 2
sub
pop field 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 0
push field 2
add
push field 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Suare.moveDown 0
push field 1
push field 2
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 0
push field 2
add
push field 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push field 1
push constant 2
add
pop field 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 2
add
push constant 1
sub
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Suare.moveLeft 0
push field 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push field 0
push field 2
add
push constant 1
sub
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push field 0
push constant 2
sub
pop field 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 0
push constant 1
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Suare.moveRight 0
push field 0
push field 2
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push field 0
push field 1
push field 0
push constant 1
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push field 0
push constant 2
add
pop field 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push field 0
push field 2
add
push constant 1
sub
push field 1
push field 0
push field 2
add
push field 1
push field 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
